[submodule "podcastparser"]
	path = podcastparser
	url = git://github.com/gpodder/podcastparser.git
[submodule "minidb"]
	path = minidb
	url = git://github.com/thp/minidb.git
[submodule "gpodder-ui-qml"]
	url = https://github.com/haurog/gpodder-ui-qml.git
[submodule "gpodder-core"]
	url = https://github.com/haurog/gpodder-core.git
